@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #751b1b;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 23px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
    color: white;
    text-decoration: none;
    padding: 13px 20px;
}
#navbar li a:hover{
    color: black;  
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 425px;
    background-color: red;
}
#introSection h2:hover{
    color: black;
    
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}
#introSection div.small:hover{
    color: black;
    font-weight: bold;
}
#missionSection{
    height: 326px;; 
    width: 67%;
    margin: auto;
}


#missionSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}
#sponsorsSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}




.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit; 
}
#missionSection div.container{
    display: flex;
}
#sponsorsSection{
    height: 300px;
    background-color: #fbd6d6c7;
}

#sponsors{
    display: flex;
    justify-content: center;
    height: 120px;
    max-width: 100px;
    margin: auto
}

.spImage{
    height: 80px;
    margin: 20px;
}

   
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 60px;
    
}